body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c2c3e);
    color: #e2e8f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

div {
    box-sizing: border-box;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #4c4cf8;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: #6366f1;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background-color: #2a2a3d;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.semana-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.dia-semana {
    background-color: #2a2a3d;
    padding: 15px;
    border-radius: 12px;
}

#calendario-container {
    margin-top: 30px;
    background-color: #2a2a3d;
    padding: 20px;
    border-radius: 12px;
}

#calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#dias-da-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

#grid-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.dia-quadradinho {
    background-color: #2a2a3d;
    color: #ffffff;
    border: 1px solid #4c4cf8;
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.numero-dia {
    font-size: 14px;
    font-weight: bold;
}

.input-calendario {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 12px;
    margin-top: 5px;
    outline: none;
    color: #ffffff;
}

.dia-vazio {
    background-color: transparent;
    border: none;
}
.voltar {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;

    background: linear-gradient(270deg, #4c4cf8, #6366f1, #4c4cf8);
    background-size: 600% 600%;

    transition: 0.3s;
    animation: gradienteAnimado 6s ease infinite;
}
@keyframes gradienteAnimado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.voltar:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px rgba(99, 102, 241, 0.7);
}
html {
    font-size: 190%;
}