body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(208, 208, 213);
color: rgb(0, 0, 0);
font-size: 16px;

}
h1
{
    text-align: center;
    padding: 5px;
    
}
p{
font-style: italic;
margin: 9px;
}
li {
    text-align: center;
    display: inline-block;
    list-style-type:none ;
    margin: 8px;
}
a{
    text-decoration:none;
    color: rgb(28, 28, 28);
     border: 1px solid rgb(36, 36, 36);
    text-align: center;
    display: inline-block;
    font-size:16px;
    padding: 6px;
    transition:250ms;
}
a:hover {
    background-color:  rgb(76, 76, 248);
    color: #ffffff;
    
}   
section{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
footer{

}
ul {
    padding: 0;
    text-align: center;
}